div.tabs-menu {
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-bottom: .1em solid rgba(00, 00, 00, 0.2);
}

ul.tabs-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
  
li.tabs-menu {
    float: left;
    margin-top: .6em;
}

li.tabs-menu a.tabs-menu {
    text-align: center;
    padding-left: .7em;
    padding-right: .7em;
    padding-bottom: .6em;
    padding-top: .4em;
}

a.tabs-menu {
    font-weight: 600;
    font-size: large;
    color: black;
}

a.tabs-menu:link, a.tabs-menu:visited {
    text-decoration: none;
}

a.tabs-menu:hover {
    text-decoration: none;
    font-weight:bolder;
    border-top: .15em solid;
    border-left: .15em solid;
    border-right: .15em solid;
    border-bottom: .15em solid;
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
    background-color: rgba(211, 211, 211, 0.7);
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

.footer {
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

[data-testid="stColorBlock"] {
    width: 150px;
    height: 38px;
    margin-right: .25em;
}

[data-testid="element-container"] {
    margin-bottom:2em;
}